<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="none" name="MultipleBrowser">
	<listeners>
		<listener class-name="com.ID_Website.utilities.Reporting" />
	</listeners>
	
  <test name="chrome">
  <parameter name="browserName" value="chrome"></parameter>    
<packages>
      <package name="com.ID_Website.SmokeTests"/>
    </packages>
  </test> <!-- Test -->
  
   <test name="firefox">
  <parameter name="browserName" value="firefox"></parameter>    
<packages>
      <package name="com.ID_Website.SmokeTests"/>
    </packages>
  </test> <!-- Test -->
  
   <test name="edge">
  <parameter name="browserName" value="edge"></parameter>    
<packages>
      <package name="com.ID_Website.SmokeTests"/>
    </packages>
  </test> <!-- Test -->
  
   
  
</suite> <!-- Suite -->
